* {
    padding: 0;
    margin: 0;
    list-style: none;
}

:root {
    --cor1: hsl(235, 18%, 26%);
    --cor2: hsl(234, 29%, 20%);
    --cor3: hsl(231, 7%, 60%);
    --cor4: #fff;
}

.side-img {
    max-width: 300px;
}

.imagens-checked {
    width: 15px;
}

body {
    background-color: hsl(235, 18%, 26%);
    font-family: 'Roboto', sans-serif;
}

main {
    max-width: 800px;
    min-width: min-content;
    background-color: var(--cor4);
    color: var(--cor2);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 20px;

}

.conteiner {
    display: flex;
    padding: 10px;
}

.form-conteiner {
    width: 360px;
    display: flex;
    flex-direction: column;
    gap: 15px;
    padding: 40px;
}


.form-conteiner>p {
    font-size: 16px;
}

.form-conteiner ul {
    line-height: 30px;
}

.form-conteiner ul li {
    display: flex;
    gap: 15px;
}

form .email {
    display: flex;
    flex-direction: column;
    font-weight: 700;
    gap: 10px;
    border: none;
}


.email input {
    padding: 15px;
    border: 1px solid var(--cor3);
    border-radius: 8px;
}


.error{
    background-color: rgb(230, 158, 158);
}

.error-email{
    margin-left: 95px;
    color: rgb(242, 92, 92);
}

button {
    background-color: var(--cor2);
    color: var(--cor4);
    font-size: 16px;
    border: 1px solid var(--cor3);
    border-radius: 8px;
    margin-top: 13px;
    padding: 15px;
    cursor: pointer;
}


.success-massage{
    display: none;
}

.complete {
    display: block;
    padding: 30px;
    width: 300px;
    border-radius: 15px;
}

.complete > img {
    padding-bottom: 15px;
    width: 50px;
}
.complete h1{
    padding-bottom: 15px;
}

.complete p{
    line-height: 25px;
    padding-bottom: 15px;
}

.complete #email-modal{
    font-weight: bolder;
    color: var(--cor2);
}
.complete .modal-button{
    width: 100%;

}

.hidden{
    display: none;
}
.attribution {
    color: var(--cor4);
    position: fixed;
    padding: 8px;
    font-size: 16px;
    bottom: 0;
    left: 50%;
    transform: translate(-50%);
}

.attribution a {
    color: var(--cor4);
    text-decoration: none;
}

.attribution a:hover {
    color: var(--cor3);
    text-decoration: underline;
}